/* All variables */
:root {
  --background-image-body: url('../img/images_2.jpg');
  --white: #fefefe;
  --gray-white-opacity: #dededed0;
  --gray-white: #dedede;
  --black: #130031;
  --box-shadow-normal: 3px 3px 10px var(--black);
  --color-text: #012030
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
}

body {
  background-image: var(--background-image-body);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--color-text);
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px
}

/* ------------------------------------------------------- */
/* ----------------- usefull classes---------------------- */
/* ------------------------------------------------------- */

.flex_center_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_start_column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

#container {
  /* container has class .flex_center_column */
  flex-direction: column;
  min-width: 100%;
}
#navigation {
  /* navigation has class .flex_center_column */
  background-color: var(--gray-white-opacity);
  padding: 40px;
  min-width: 100%;
  box-shadow: var(--box-shadow-normal);
}
#wrapper {
  margin: 100px 0;
  max-width: 80%;
  box-shadow: var(--box-shadow-normal);
}
#subjects{
  background-color: var(--gray-white-opacity);
}

/* ------------------------------------------------------------------------------- */
/* --------------------- articles - november_uprising and great emigration styles----------------------- */
/* ------------------------------------------------------------------------------- */

#november_uprising {
  /* november_uprising has class .flex_center_column */
}

.sub h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

.sub p {
  padding: 20px 40px;
}

.sub .quotes {
  max-width: 70%;
  margin: 50px 0;
}

#the_great_emigration {
  /* the_great_emigration has class .flex_center_column */
}

/* Patriots */
.list_of_patriots li{
  /* list_of_patriots has class .flex_start_column */
  width: 100%;
  margin: 20px 0;
}

.patriots {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
.patriots_board_class{
  /* patriots_board_class has class .flex_center_column */
  margin: 20px;
  background-color: var(--gray-white);
  display: none;
  z-index: 0;
  min-width: 60%;
  max-width: 80%;
  padding: 10px;
}
/* ------------------------------------------------------------------------------- */
/* ---------------------- buttons and content------------------------------------- */
/* ------------------------------------------------------------------------------- */

/* reason about november uprising */

.toggle_button {
  width: 100%;
  border: none;
  background-color: inherit;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
.toggle_button:hover {
  font-size: 22px;
  transition: font-size .1s ease-in-out;
}

#reason {
  display: none;
}
#course_of {
  display: none;
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  background-color: var(--gray-white-opacity);
}

@media only screen and (max-width: 630px) {
  .sub h2 {
    font-size: 20px;
  }
  * {
    font-size: 17px;
  }
}
@media only screen and (max-width: 410px) {
  * {
    font-size: 15px;
  }
}